.appBar {
  background-color: #ffffff !important;
  box-shadow: none;
}

.hamburgerContainer {
  margin-left: auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

.toolbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
}

.incontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.divider {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.logocontainer {
  width: 150px; /* Adjust width as needed */
  height: 110px; /* Adjust height as needed */
  background-image: url('../../../static/logod3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.mobcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.dropdownLink {
  cursor: pointer;
  color: #000;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
}

.arrow {
  margin-left: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  transition: transform 0.2s ease;
}

.open {
  transform: rotate(180deg);
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  padding: 10px 0;
}

.serviceLink {
  font-size: 25px;
  font-weight: 600;
  color: #4e4e4e;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: none;
}

.serviceLink:hover {
  color: #0073e6;
}
